.red {
    background-color: red;
}

.sublist_main {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sublist_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    margin: 0;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    border: 1px solid #c9cdd7;
}

.sublist_delete_btn {
    padding-right: 50px;
}

.sublist_item {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 50% 50%;
    position: relative;
    width: 400px;
    padding: 20px 0 20px 0;
}

.sublist_box1 {
    grid-column: 1 / 2;
    border-bottom: 1px solid #c9cdd7;
}

.sublist_box2 {
    grid-row: 2;
}

.sublist_box2::before {
    content: "Or";
    position: absolute;
    transform: translate(-100%, -50%);
    padding-right: 20px;
    color: #c9cdd7;
}

.sublist_box3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    margin: 0;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    border: 1px solid #c9cdd7;
}

.sublist_box4 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px 20px 25px 20px;
    font-weight: bold;
}

.sublist_box4_text {
    width: 100%;
}
.sublist_box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}